@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@layer base {
  html {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h1 {
    @apply text-3xl font-extrabold tracking-tight font-nike;
  }

  @font-face {
    font-family: 'Nike';
    font-weight: 700;
    src: url('../assets/fonts/nike/nike-futura-bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Nike';
    font-weight: 800;
    src: url('../assets/fonts/nike/Futura-CondensedExtraBold-800.otf') format('opentype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Roman.woff2');
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Roman.woff2') format('woff2'),
      url('../assets/fonts/helvetica/HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica';
    font-weight: 500;
    font-style: normal;
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Medium.woff2');
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Medium.woff2') format('woff2'),
      url('../assets/fonts/helvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2');
    src: url('../assets/fonts/helvetica/HelveticaNeueCyr-Bold.woff2') format('woff2'),
      url('../assets/fonts/helvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .title-1 {
    @apply font-nike text-[4.5rem] font-[800] tracking-[-0.25rem] leading-[3.75rem];
  }

  .title-2 {
    @apply font-helvetica text-[1.5rem] font-[600] leading-[1.75rem];
  }

  .title-3 {
    @apply font-helvetica text-[1rem] font-[600];
  }

  .title-4 {
    @apply font-helvetica text-[0.9rem] font-[600];
  }

  .title-5 {
    @apply font-helvetica text-[0.7rem] font-[600];
  }

  .link {
    @apply font-helvetica text-[0.75rem] font-[600] leading-[0.875rem];
  }

  .body-1 {
    @apply font-helvetica text-[1rem] font-[500] leading-[1.15rem];
  }

  .body-2 {
    @apply font-helvetica text-[0.9rem] font-[400] leading-[1.2rem];
  }

  .body-3 {
    @apply font-helvetica text-[0.8rem] font-[400] leading-[1rem];
  }

  .subtitle {
    @apply font-nike text-[1.25rem] font-[400] leading-[1.75rem];
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    margin-inline-end: 24px;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: solid transparent;
    border-width: 4px 0;
    border-radius: 7px;
    box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: transparent;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-track {
    margin: 0 2.25rem;
  }
}
